*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$hn_black: #08090A;
$hn_gray: #191919;
$hn_light_gray: #222222;
$hn_orange: #FF851B;
$hn_shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$hn_white: #EEEEEE;
$hn_text: #777777;

$nunito_sans: 'Nunito Sans', sans-serif;
$vollkorn: 'Vollkorn', serif;

html{
    scroll-behavior: smooth;
    max-width: 1920px;
    margin: 0 auto;
    min-width: 320px;
}

header {
    background-color: $hn_black;
    height: 78px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    box-shadow: $hn_shadow;
    z-index: 1;
    
    nav{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin: 0 102px;
        ul{
            font: 18px/25px $nunito_sans;
            list-style: none;
            display: flex;
            gap: 45px;
            li{
                a{
                    border-bottom: 1px solid transparent;
                    padding-bottom: 4px;
                    &:hover {
                        border-bottom: 1px solid $hn_orange;
                    }
                    color: $hn_white;
                    text-decoration: none;
                    transition: all 0.21s ease-in-out;
                }
                
            }
            li{
                &.active{
                    .nav_item {
                        border-bottom: 1px solid $hn_orange;
                    }
                }
            }
        }
    }
    #check {
        display: none;
    }

    .hamburger_menu{
        display: none;
        cursor: pointer;
        height: 24px;
        width: 24px;
        background: url("https://ik.imagekit.io/1cqtok8fv7n/hn-portfolio/hamburger_menu_-5n6AEPdB.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1677821675821") no-repeat;
        transition: all 0.21s ease-in-out;
    }

    @media only screen and (max-width: 1024px) {
        nav{
            margin: 0 24px;
        }
    }

    @media only screen and (max-width: 768px) {
        nav{
            a{
                img{
                    width: 93px;
                }
            }
        }
    }
    @media only screen and (max-width: 600px) {
        nav{
            .nav_list {
                display: none;
                user-select: none;
            }
        }
        .hamburger_menu {
            display: inline-block;
        }

        #check {
            display: none;
            &:checked {
                &+.hamburger_menu {
                    background: url("https://ik.imagekit.io/1cqtok8fv7n/hn-portfolio/close_B-tQsMnDT.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1677821675604") no-repeat center center;
                }
                &~.nav_list {
                    align-items: center;
                    animation: slide_down 1s;
                    background-color: $hn_black;
                    box-shadow: $hn_shadow;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    left: 0;
                    padding: 0 24px 24px;
                    position: absolute;
                    top: 78px;
                    width: 100%;
                    @keyframes slide_down {
                        from {
                            opacity: 0;
                            height: 0px;
                        }
                        to {
                            opacity: 1;
                            height: 258px;
                        }
                    }
                }
            }
        }
    }
}

#hero{
    padding: 220px 102px 107px;
    .hero_group{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 146px;
        flex-wrap: wrap;
        .profile_pic {
            min-width: 257px;
            max-height: 257px;
        }
        .content {
            h1,
            h2 {
                font: 64px/89px $vollkorn;
            }
            h1 {
                color: $hn_white;
                span {
                    font: 16px/22px $nunito_sans;
                    display: block;
                    color: $hn_orange;
                }
            }

            h2 {
                span {
                    color: $hn_text;
                }

                color: $hn_orange;
            }

            p {
                font: 24px/33px $nunito_sans;
                color: $hn_text;
                width: 691px;
                margin-bottom: 35px;
            }

            .btn {
                margin-bottom: 20px;
            }
        }
    }
    .arrow_down {
        display: flex;
        flex-direction: column;
        align-items: center;
        .small_arrow {
            height: 21px;
            width: 42px;
            transform: translateY(10px);
        }

        .medium_arrow {
            width: 76px;
            height: 38px;
        }

        img {
            display: block;
        }
    }
    @media only screen and (max-width: 1024px) {
        padding: 100px 24px 100px;
        .hero_group{
            gap: 40px;
            margin-bottom: 48px;
        }
    }
    @media only screen and (max-width: 768px) {
        padding: 48px 24px;
        .hero_group{
            gap: 32px;
            margin-bottom: 48px;
            .profile_pic{
                min-width: 160px;
                max-height: 160px;
            }
            .content{
                h1,
                h2 {
                    font: 32px/44px $vollkorn;
                }
                p{
                    font: 16px/22px $nunito_sans;
                    width: calc(100% - 48px);
                }
                .btn{
                    display: block;
                    text-align: center;
                    margin: 0 auto;
                    width: 260px;
                }
            }
        }
    }
}

#about{
    padding: 141px 24px;
    h2{
        margin-bottom: 100px;
    }
    p{
        margin: 0 auto;
        width: calc(100% - 750px);;
        color: $hn_text;
        font: 24px/33px $nunito_sans;
        margin-bottom: 24px;
    }
    @media only screen and (max-width: 768px) {
        padding: 48px 0;
        h2{
            margin-bottom: 48px;
        }
        p{
            font: 16px/22px $nunito_sans;
            width: calc(100% - 48px);
        }
    }
}

#projects{
    padding: 141px 220px;
    .section_title {
        margin-bottom: 100px;
    }
    .project_details:nth-of-type(odd){
        margin: 0 auto;
        list-style: none;
        margin-bottom: 46px;
        position: relative;
        border-bottom: 1px solid $hn_light_gray;
        a {
            text-decoration: none;
            position: relative;
        }
        .project_image{
            width: 634px;
            border: 1px solid transparent;
            transition: all 0.21s ease-in-out;
            border-radius: 15px;
            &:hover{
                border: 1px solid $hn_white;
            }
        }
        .project_text{
            position: absolute;
            top: 0;
            right: 0px;
            .project_title {
                text-align: right;
                font: 40px/56px $vollkorn;
                color: $hn_white;
            }
            .project_brief {
                    font: 24px/33px $nunito_sans;
                    color: $hn_text;
                    background-color: $hn_light_gray;
                    border-radius: 8px;
                    padding: 32px;
                    width: 634px;
                    text-align: right;
                    margin: 0 0 24px auto;
                }
        }
        .github_logo {
            display: block;
            text-align: right;
            transition: all 0.21s ease-in-out;
            transform: translateY(-52px);
            &:hover{
                filter: brightness(160%);
            }
        }
        .project_tech {
            display: flex;
            color: $hn_orange;
            font: 24px/33px $nunito_sans;
            justify-content: flex-end;
            flex-wrap: wrap;
            transform: translateY(-168px);
            gap: 20px;
            position: absolute;
            right: 0;
            li {
                list-style: none;
                background-color: $hn_gray;
                padding: 4px;
                border-radius: 4px;
            }
        }
    }
    .project_details:nth-of-type(even) {
        margin: 0 auto;
        list-style: none;
        margin-bottom: 46px;
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        height: 512px;
        border-bottom: 1px solid $hn_light_gray;
        a {
            text-decoration: none;
            position: relative;
        }

        .project_image {
            width: 634px;
            border: 1px solid transparent;
            transition: all 0.21s ease-in-out;
            border-radius: 15px;
            position: relative;
            right: 0;

            &:hover {
                border: 1px solid $hn_white;
            }
        }
        .project_info{
            position: absolute;
            z-index: 1;
            left: 0;
            .project_text {
                .project_title {
                    text-align: left;
                    font: 40px/56px $vollkorn;
                    color: $hn_white;
                }
        
                .project_brief {
                    font: 24px/33px $nunito_sans;
                    color: $hn_text;
                    background-color: $hn_light_gray;
                    border-radius: 8px;
                    padding: 32px;
                    width: 634px;
                    text-align: left;
                }
            }
        }

        .github_logo {
            display: block;
            text-align: left;
            transition: all 0.21s ease-in-out;
            transform: translateY(116px);
            &:hover {
                filter: brightness(160%);
            }
        }

        .project_tech {
            display: flex;
            color: $hn_orange;
            font: 24px/33px $nunito_sans;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 20px;

            li {
                list-style: none;
                background-color: $hn_gray;
                padding: 4px;
                border-radius: 4px;
            }
        }
    }
    .btn{
        display: none;
        margin: 0 auto;
        width: 160px;
        text-align: center;
    }
    @media only screen and (max-width: 1301px) {
        padding: 48px;
        .project_details:nth-of-type(odd) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            border-bottom: 1px solid $hn_light_gray;
            padding-bottom: 24px;
            align-items: center;
            height: unset;
            .project_text {
                position: unset
            }
            .project_tech {
                transform: translateY(0);
                position: unset;
            }
            .github_logo{
                transform: translateY(0);
                margin-bottom: 24px;
            }
        }
        .project_details:nth-of-type(even) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            border-bottom: 1px solid $hn_light_gray;
            padding-bottom: 24px;
            align-items: center;
            height: unset;
            .project_image{
                position: unset;
            }
            .project_info{
                position: unset;
            }
            .project_brief{
                margin-bottom: 24px;
            }
            .github_logo {
                transform: translateY(0);
                margin-bottom: 24px;
            }
        }
    }
    @media only screen and (max-width: 768px) {
        .project_details:nth-of-type(odd) {
            .project_image{
                width: 100%;
            }
            .project_text{
                .project_title{
                    font: 32px/44px $vollkorn;
                }
                .project_brief{
                    font: 16px/22px $nunito_sans;
                    width: 100%;
                }
            }
            .project_tech{
                font: 16px/22px $nunito_sans
            }
        }
        .project_details:nth-of-type(even) {
            .project_image {
                width: 100%;
            }
            .project_info{
                .project_text {
                    .project_title {
                        font: 32px/44px $vollkorn;
                    }
                    .project_brief {
                        font: 16px/22px $nunito_sans;
                        width: 100%;
                    }
                }
                .project_tech {
                    font: 16px/22px $nunito_sans
                }
            }
        }
    }
    // @media only screen and (max-width: 1440px) {
    //     padding: 100px 108px;
    // }
    // @media only screen and (max-width: 1281px) {
    //     padding: 100px 24px;
    //     .project_details:nth-of-type(odd) {
    //         .project_tech {
    //             margin-right: 8px;
    //         }
    //     }
    // }
    // @media only screen and (max-width: 1024px) {
    //     .project_details:nth-of-type(odd) {
    //         .project_image {
    //             width: 512px;
    //         }
        
    //         .project_text {
    //             top: -408px;
    //             right: -416px;
    //         }
        
    //         .github_logo {
    //             margin-right: 39px;
    //         }
        
    //         .project_tech {
    //             transform: translateY(-148px);
    //             margin: 0 40px 0 0;
    //             font: 16px/22px $nunito_sans;
    //         }
    //     }
    //     .project_details:nth-of-type(even) {
    //         .project_image {
    //             width: 512px;
    //             transform: translateX(417px);
    //         }
    //         .project_text{
    //             top: -357px;
    //         }
    //         .project_brief{
    //             width: 512px;
    //         }
    //         .project_tech{
    //             transform: translateY(-65px);
    //             font: 16px/22px $nunito_sans;
    //         }
    //         .github_logo{
    //             transform: translateY(-51px);
    //         }
    //     }
    // }
    // @media only screen and (max-width: 768px) {
    //     padding: 48px 0;
    //     .section_title {
    //         margin-bottom: 48px;
    //     }
    //     .project_details:nth-of-type(odd){
    //         border-bottom: 1px solid $hn_light_gray;
    //         .project_image {
    //             width: calc(100% - 48px);
    //             margin: 0 24px 24px;
    //             display: block;
    //         }
        
    //         .project_text {
    //             position: relative;
    //             top: unset;
    //             right: unset;

    //             .project_title {
    //                 text-align: center;
    //                 font: 32px/44px $vollkorn;
    //                 margin-bottom: 24px;
    //             }
        
    //             .project_brief {
    //                 font: 16px/22px $nunito_sans;
    //                 padding: 32px;
    //                 width: calc(100% - 48px);
    //                 text-align: right;
    //                 margin: 0 24px 24px auto;
    //             }
    //         }
        
    //         .github_logo {
    //             text-align: left;
    //             margin: 27px 0 0 24px;
    //         }

    //         .project_tech {
    //             font: 16px/33px $nunito_sans;
    //             margin: -41px 24px 24px 24px;
    //             transform: translateY(0);
    //         }
    //     }
    //     .project_details:nth-of-type(even){
    //         border-bottom: 1px solid $hn_light_gray;
    //         .project_image {
    //             transform: translateX(0px);
    //             width: calc(100% - 48px);
    //             margin: 24px;
    //         }
    //         .project_text {
    //             position: relative;
    //             top: unset;
    //             right: unset;
    //             .project_title {
    //                 text-align: center;
    //                 font: 32px/44px $vollkorn;
    //                 margin-bottom: 24px;
    //             }
    //             .project_brief {
    //                 font: 16px/22px $nunito_sans;
    //                 padding: 32px;
    //                 width: calc(100% - 48px);
    //                 text-align: left;
    //                 margin: 0 24px 24px auto;
    //             }

                
    //         }

    //         .github_logo {
    //             text-align: right;
    //             margin: 27px 24px 0 0;
    //         }

    //         .project_tech {
    //             font: 16px/33px $nunito_sans;
    //             margin: -41px 24px 24px 24px;
    //             transform: translateY(0);
    //         }
    //     }
    //     .project_details:last-child{
    //         border-bottom: 1px solid transparent;
    //     }
    // }
}

#contact{
    padding: 141px 349px;
    text-align: center;
    .section_title{
        width: 180px;
        margin-bottom: 64px;
    }
    h3{
        font: 80px/111px $vollkorn;
        color: $hn_orange;
        margin: 0 auto;
    }
    p{
        margin: 0 auto 108px;
        color: $hn_text;
        font: 26px/35px $nunito_sans;
        width: 683px;
    }
    @media only screen and (max-width: 1024px) {
        padding: 100px 24px;
        p{
            width: calc(100% - 48px);
        }
    }
    @media only screen and (max-width: 768px) {
        padding: 48px 0 73px;
        .section_title {
            margin-bottom: 48px;
        }
        .lets_code{
            font: 32px/45px $vollkorn;
        }
        p{
            font: 16px/22px $nunito_sans;
            width: calc(100% - 48px);
            margin-bottom: 48px;
        }
    }
}

footer{
    background-color: $hn_gray;
    padding: 141px 102px 0;
    .hn_logo{
        margin-left: -12px;
    }
    .details_group{
        flex-wrap: wrap;
        display: flex;
        gap: 205px;
        padding: 74px 82px;
        ul{
            li{
                font: 24px/36px $nunito_sans;
                color: $hn_white;
                margin-bottom: 20px;
                h3{
                    font: 700 24px/36px $nunito_sans;
                    color: $hn_white;
                }
                a{
                    text-decoration: none;
                    color: $hn_white;
                    transition: all 0.21s ease-in-out;
                    border-bottom: 1px solid transparent;
                    padding-bottom: 4px;
                    &:hover{
                        border-bottom: 1px solid $hn_orange;
                    }
                }
                list-style: none;
            }
        }
        .contacts{
            .info{
                margin-bottom: 2px;
            }
        }
        .social_group{
            h3 {
                font: 700 24px/36px $nunito_sans;
                color: $hn_white;
                margin-bottom: 20px;
            }
            .social_list{
                display: flex;
                gap: 20px;
                li {
                    a{
                        border: none;
                    }
                    img {
                        width: 42px;
                        border-radius: 50%;
                        transition: all 0.21s ease-in-out;
                        &:hover{
                            opacity: 0.8;
                        }
                    }
                }
            }
            
        }
    }
    @media only screen and (max-width: 768px){
        padding: 48px 24px;
        .hn_logo{
            width: 133px;
        }
        .details_group{
            gap: 40px;
            padding: 48px 0;
            ul{
                li {
                    font: 16px/22px $nunito_sans;
                    h3{
                        font: 700 16px/22px $nunito_sans;
                    }
                }
            }
            .social_group{
                h3{
                    font: 700 16px/22px $nunito_sans;
                }
            }
        }
    }
}

.copyright {
    background-color: $hn_black;
    text-align: center;
    padding: 21px 0;
    color: $hn_text;
    font: 18px/36px $nunito_sans;
    
}

.typing{
    border-right: 2px solid $hn_white;
    animation: typing 3s steps(12, end), cursor .5s steps(12, end) infinite;
    @media only screen and (max-width: 768px) {
        width: 180px;
    }
}

.hu__hu__ {
    animation: hu__hu__ infinite 6s ease-in-out !important;
}

.section_title {
    text-align: center;
    margin: 0 auto;
    width: 152px;
    font: 32px/45px $vollkorn;
    color: $hn_white;
    border-bottom: 1px solid $hn_orange;
}

.btn{
    padding: 16px 20px;
    color: $hn_orange;
    text-decoration: none;
    font: 20px/27px $nunito_sans;
    border: 1px solid $hn_orange;
    border-radius: 10px;
    height: 60px;
    transition: all 0.21s ease-in-out;
    &:hover{
        background-color: $hn_orange;
        color: $hn_gray;
    }
}

section:nth-child(odd){
    background-color: $hn_gray;
}

section:nth-child(even){
    background-color: $hn_light_gray;
}

body::-webkit-scrollbar {
    width: 8px;
    background-color: $hn_light_gray;
}

body::-webkit-scrollbar-thumb{
    background-color: $hn_gray;
    border-radius: 8px;
    width: 16px;
}