* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: #08090A;
  height: 78px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

header nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 0 102px;
}

header nav ul {
  font: 18px/25px "Nunito Sans", sans-serif;
  list-style: none;
  display: flex;
  gap: 45px;
}

header nav ul li a {
  color: #EEEEEE;
  text-decoration: none;
  transition: all 0.21s ease-in-out;
}

header nav ul li a:hover {
  color: #FF851B;
}

#hero {
  padding: 220px 102px 107px;
}

#hero .hero_group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 146px;
}

#hero .hero_group .profile_pic {
  min-width: 257px;
  max-height: 257px;
}

#hero .hero_group .content h1,
#hero .hero_group .content h2 {
  font: 64px/89px "Vollkorn", serif;
}

#hero .hero_group .content h1 {
  color: #EEEEEE;
}

#hero .hero_group .content h1 span {
  font: 16px/22px "Nunito Sans", sans-serif;
  display: block;
  color: #FF851B;
}

#hero .hero_group .content h2 {
  color: #FF851B;
}

#hero .hero_group .content h2 span {
  color: #777777;
}

#hero .hero_group .content p {
  font: 24px/33px "Nunito Sans", sans-serif;
  color: #777777;
  width: 691px;
  margin-bottom: 35px;
}

#hero .hero_group .content .btn {
  margin-bottom: 20px;
}

#hero .arrow_down {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero .arrow_down .small_arrow {
  height: 21px;
  width: 42px;
  transform: translateY(10px);
}

#hero .arrow_down .medium_arrow {
  width: 76px;
  height: 38px;
}

#hero .arrow_down img {
  display: block;
}

#about {
  padding: 141px 349px;
}

#about h2 {
  margin-bottom: 100px;
}

#about p {
  color: #777777;
  font: 24px/33px "Nunito Sans", sans-serif;
  margin-bottom: 24px;
}

.hu__hu__ {
  animation: hu__hu__ infinite 6s ease-in-out !important;
}

.section_title {
  text-align: center;
  margin: 0 auto;
  width: 152px;
  font: 32px/45px "Vollkorn", serif;
  color: #EEEEEE;
  border-bottom: 1px solid #FF851B;
}

.btn {
  padding: 16px 20px;
  color: #FF851B;
  text-decoration: none;
  font: 20px/27px "Nunito Sans", sans-serif;
  border: 1px solid #FF851B;
  border-radius: 10px;
  height: 60px;
  transition: all 0.21s ease-in-out;
}

.btn:hover {
  background-color: #FF851B;
  color: #191919;
}

section:nth-child(odd) {
  background-color: #191919;
}

section:nth-child(even) {
  background-color: #222222;
}
