* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  max-width: 1920px;
  margin: 0 auto;
  min-width: 320px;
}

header {
  background-color: #08090A;
  height: 78px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

header nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin: 0 102px;
}

header nav ul {
  font: 18px/25px "Nunito Sans", sans-serif;
  list-style: none;
  display: flex;
  gap: 45px;
}

header nav ul li a {
  border-bottom: 1px solid transparent;
  padding-bottom: 4px;
  color: #EEEEEE;
  text-decoration: none;
  transition: all 0.21s ease-in-out;
}

header nav ul li a:hover {
  border-bottom: 1px solid #FF851B;
}

header nav ul li.active .nav_item {
  border-bottom: 1px solid #FF851B;
}

header #check {
  display: none;
}

header .hamburger_menu {
  display: none;
  cursor: pointer;
  height: 24px;
  width: 24px;
  background: url("https://ik.imagekit.io/1cqtok8fv7n/hn-portfolio/hamburger_menu_-5n6AEPdB.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1677821675821") no-repeat;
  transition: all 0.21s ease-in-out;
}

@media only screen and (max-width: 1024px) {
  header nav {
    margin: 0 24px;
  }
}

@media only screen and (max-width: 768px) {
  header nav a img {
    width: 93px;
  }
}

@media only screen and (max-width: 600px) {
  header nav .nav_list {
    display: none;
    user-select: none;
  }
  header .hamburger_menu {
    display: inline-block;
  }
  header #check {
    display: none;
  }
  header #check:checked + .hamburger_menu {
    background: url("https://ik.imagekit.io/1cqtok8fv7n/hn-portfolio/close_B-tQsMnDT.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1677821675604") no-repeat center center;
  }
  header #check:checked ~ .nav_list {
    align-items: center;
    animation: slide_down 1s;
    background-color: #08090A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    padding: 0 24px 24px;
    position: absolute;
    top: 78px;
    width: 100%;
  }
  @keyframes slide_down {
    from {
      opacity: 0;
      height: 0px;
    }
    to {
      opacity: 1;
      height: 258px;
    }
  }
}

#hero {
  padding: 220px 102px 107px;
}

#hero .hero_group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 146px;
  flex-wrap: wrap;
}

#hero .hero_group .profile_pic {
  min-width: 257px;
  max-height: 257px;
}

#hero .hero_group .content h1,
#hero .hero_group .content h2 {
  font: 64px/89px "Vollkorn", serif;
}

#hero .hero_group .content h1 {
  color: #EEEEEE;
}

#hero .hero_group .content h1 span {
  font: 16px/22px "Nunito Sans", sans-serif;
  display: block;
  color: #FF851B;
}

#hero .hero_group .content h2 {
  color: #FF851B;
}

#hero .hero_group .content h2 span {
  color: #777777;
}

#hero .hero_group .content p {
  font: 24px/33px "Nunito Sans", sans-serif;
  color: #777777;
  width: 691px;
  margin-bottom: 35px;
}

#hero .hero_group .content .btn {
  margin-bottom: 20px;
}

#hero .arrow_down {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero .arrow_down .small_arrow {
  height: 21px;
  width: 42px;
  transform: translateY(10px);
}

#hero .arrow_down .medium_arrow {
  width: 76px;
  height: 38px;
}

#hero .arrow_down img {
  display: block;
}

@media only screen and (max-width: 1024px) {
  #hero {
    padding: 100px 24px 100px;
  }
  #hero .hero_group {
    gap: 40px;
    margin-bottom: 48px;
  }
}

@media only screen and (max-width: 768px) {
  #hero {
    padding: 48px 24px;
  }
  #hero .hero_group {
    gap: 32px;
    margin-bottom: 48px;
  }
  #hero .hero_group .profile_pic {
    min-width: 160px;
    max-height: 160px;
  }
  #hero .hero_group .content h1,
  #hero .hero_group .content h2 {
    font: 32px/44px "Vollkorn", serif;
  }
  #hero .hero_group .content p {
    font: 16px/22px "Nunito Sans", sans-serif;
    width: calc(100% - 48px);
  }
  #hero .hero_group .content .btn {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 260px;
  }
}

#about {
  padding: 141px 0;
}

#about h2 {
  margin-bottom: 100px;
}

#about p {
  margin: 0 auto;
  width: 858px;
  color: #777777;
  font: 24px/33px "Nunito Sans", sans-serif;
  margin-bottom: 24px;
}

@media only screen and (max-width: 768px) {
  #about {
    padding: 48px 0;
  }
  #about h2 {
    margin-bottom: 48px;
  }
  #about p {
    font: 16px/22px "Nunito Sans", sans-serif;
    width: calc(100% - 48px);
  }
}

#projects {
  padding: 141px 349px;
}

#projects .section_title {
  margin-bottom: 100px;
}

#projects .project_details:nth-of-type(odd) {
  list-style: none;
  margin-bottom: 46px;
  position: relative;
}

#projects .project_details:nth-of-type(odd) a {
  text-decoration: none;
  position: relative;
}

#projects .project_details:nth-of-type(odd) .project_image {
  width: 634px;
  border: 1px solid transparent;
  transition: all 0.21s ease-in-out;
  border-radius: 15px;
}

#projects .project_details:nth-of-type(odd) .project_image:hover {
  border: 1px solid #EEEEEE;
}

#projects .project_details:nth-of-type(odd) .project_text {
  position: absolute;
  top: -442px;
  right: -580px;
}

#projects .project_details:nth-of-type(odd) .project_text .project_title {
  text-align: right;
  font: 40px/56px "Vollkorn", serif;
  color: #EEEEEE;
}

#projects .project_details:nth-of-type(odd) .project_text .project_brief {
  font: 24px/33px "Nunito Sans", sans-serif;
  color: #777777;
  background-color: #222222;
  border-radius: 8px;
  padding: 32px;
  width: 634px;
  text-align: right;
  margin: 0 0 24px auto;
}

#projects .project_details:nth-of-type(odd) .github_logo {
  display: block;
  text-align: right;
  transition: all 0.21s ease-in-out;
  transform: translateY(-52px);
  margin-right: 8px;
}

#projects .project_details:nth-of-type(odd) .github_logo:hover {
  filter: brightness(160%);
}

#projects .project_details:nth-of-type(odd) .project_tech {
  display: flex;
  color: #FF851B;
  font: 24px/33px "Nunito Sans", sans-serif;
  justify-content: flex-end;
  flex-wrap: wrap;
  transform: translateY(-168px);
  gap: 20px;
}

#projects .project_details:nth-of-type(odd) .project_tech li {
  list-style: none;
  background-color: #191919;
  padding: 4px;
  border-radius: 4px;
}

#projects .project_details:nth-of-type(even) {
  list-style: none;
  margin-bottom: 46px;
}

#projects .project_details:nth-of-type(even) a {
  text-decoration: none;
  position: relative;
}

#projects .project_details:nth-of-type(even) .project_image {
  width: 634px;
  transform: translateX(580px);
  border: 1px solid transparent;
  transition: all 0.21s ease-in-out;
  border-radius: 15px;
}

#projects .project_details:nth-of-type(even) .project_image:hover {
  border: 1px solid #EEEEEE;
}

#projects .project_details:nth-of-type(even) .project_text {
  position: absolute;
  top: -442px;
  left: 0;
}

#projects .project_details:nth-of-type(even) .project_text .project_title {
  text-align: left;
  font: 40px/56px "Vollkorn", serif;
  color: #EEEEEE;
}

#projects .project_details:nth-of-type(even) .project_text .project_brief {
  font: 24px/33px "Nunito Sans", sans-serif;
  color: #777777;
  background-color: #222222;
  border-radius: 8px;
  padding: 32px;
  width: 634px;
  text-align: left;
  margin: 0 0 24px auto;
}

#projects .project_details:nth-of-type(even) .github_logo {
  display: block;
  text-align: left;
  transition: all 0.21s ease-in-out;
  transform: translateY(-52px);
}

#projects .project_details:nth-of-type(even) .github_logo:hover {
  filter: brightness(160%);
}

#projects .project_details:nth-of-type(even) .project_tech {
  display: flex;
  color: #FF851B;
  font: 24px/33px "Nunito Sans", sans-serif;
  justify-content: flex-start;
  flex-wrap: wrap;
  transform: translateY(-168px);
  gap: 20px;
}

#projects .project_details:nth-of-type(even) .project_tech li {
  background-color: #191919;
  list-style: none;
}

#projects .btn {
  display: none;
  margin: 0 auto;
  width: 160px;
  text-align: center;
}

@media only screen and (max-width: 1440px) {
  #projects {
    padding: 100px 108px;
  }
}

@media only screen and (max-width: 1281px) {
  #projects {
    padding: 100px 24px;
  }
  #projects .project_details:nth-of-type(odd) .project_tech {
    margin-right: 8px;
  }
}

@media only screen and (max-width: 1024px) {
  #projects .project_details:nth-of-type(odd) .project_image {
    width: 512px;
  }
  #projects .project_details:nth-of-type(odd) .project_text {
    top: -408px;
    right: -416px;
  }
  #projects .project_details:nth-of-type(odd) .github_logo {
    margin-right: 39px;
  }
  #projects .project_details:nth-of-type(odd) .project_tech {
    transform: translateY(-148px);
    margin: 0 40px 0 0;
    font: 16px/22px "Nunito Sans", sans-serif;
  }
  #projects .project_details:nth-of-type(even) .project_image {
    width: 512px;
    transform: translateX(417px);
  }
  #projects .project_details:nth-of-type(even) .project_text {
    top: -357px;
  }
  #projects .project_details:nth-of-type(even) .project_brief {
    width: 512px;
  }
  #projects .project_details:nth-of-type(even) .project_tech {
    transform: translateY(-65px);
    font: 16px/22px "Nunito Sans", sans-serif;
  }
  #projects .project_details:nth-of-type(even) .github_logo {
    transform: translateY(31px);
  }
}

@media only screen and (max-width: 768px) {
  #projects {
    padding: 48px 0;
  }
  #projects .section_title {
    margin-bottom: 48px;
  }
  #projects .project_details:nth-of-type(odd) {
    border-bottom: 1px solid #222222;
  }
  #projects .project_details:nth-of-type(odd) .project_image {
    width: calc(100% - 48px);
    margin: 0 24px 24px;
    display: block;
  }
  #projects .project_details:nth-of-type(odd) .project_text {
    position: relative;
    top: unset;
    right: unset;
  }
  #projects .project_details:nth-of-type(odd) .project_text .project_title {
    text-align: center;
    font: 32px/44px "Vollkorn", serif;
    margin-bottom: 24px;
  }
  #projects .project_details:nth-of-type(odd) .project_text .project_brief {
    font: 16px/22px "Nunito Sans", sans-serif;
    padding: 32px;
    width: calc(100% - 48px);
    text-align: right;
    margin: 0 24px 24px auto;
  }
  #projects .project_details:nth-of-type(odd) .github_logo {
    text-align: left;
    margin: 27px 0 0 24px;
  }
  #projects .project_details:nth-of-type(odd) .project_tech {
    font: 16px/33px "Nunito Sans", sans-serif;
    margin: -41px 24px 24px 24px;
    transform: translateY(0);
  }
  #projects .project_details:nth-of-type(even) {
    border-bottom: 1px solid #222222;
  }
  #projects .project_details:nth-of-type(even) .project_image {
    transform: translateX(0px);
    width: calc(100% - 48px);
    margin: 24px;
  }
  #projects .project_details:nth-of-type(even) .project_text {
    position: relative;
    top: unset;
    right: unset;
  }
  #projects .project_details:nth-of-type(even) .project_text .project_title {
    text-align: center;
    font: 32px/44px "Vollkorn", serif;
    margin-bottom: 24px;
  }
  #projects .project_details:nth-of-type(even) .project_text .project_brief {
    font: 16px/22px "Nunito Sans", sans-serif;
    padding: 32px;
    width: calc(100% - 48px);
    text-align: left;
    margin: 0 24px 24px auto;
  }
  #projects .project_details:nth-of-type(even) .github_logo {
    text-align: right;
    margin: 27px 24px 0 0;
  }
  #projects .project_details:nth-of-type(even) .project_tech {
    font: 16px/33px "Nunito Sans", sans-serif;
    margin: -41px 24px 24px 24px;
    transform: translateY(0);
  }
  #projects .project_details:last-child {
    border-bottom: 1px solid transparent;
  }
}

#contact {
  padding: 141px 349px;
  text-align: center;
}

#contact .section_title {
  width: 180px;
  margin-bottom: 64px;
}

#contact h3 {
  font: 80px/111px "Vollkorn", serif;
  color: #FF851B;
  margin: 0 auto;
}

#contact p {
  margin: 0 auto 108px;
  color: #777777;
  font: 26px/35px "Nunito Sans", sans-serif;
  width: 683px;
}

@media only screen and (max-width: 1024px) {
  #contact {
    padding: 100px 24px;
  }
  #contact p {
    width: calc(100% - 48px);
  }
}

@media only screen and (max-width: 768px) {
  #contact {
    padding: 48px 0 73px;
  }
  #contact .section_title {
    margin-bottom: 48px;
  }
  #contact .lets_code {
    font: 32px/45px "Vollkorn", serif;
  }
  #contact p {
    font: 16px/22px "Nunito Sans", sans-serif;
    width: calc(100% - 48px);
    margin-bottom: 48px;
  }
}

footer {
  background-color: #191919;
  padding: 141px 102px 0;
}

footer .hn_logo {
  margin-left: -12px;
}

footer .details_group {
  flex-wrap: wrap;
  display: flex;
  gap: 205px;
  padding: 74px 82px;
}

footer .details_group ul li {
  font: 24px/36px "Nunito Sans", sans-serif;
  color: #EEEEEE;
  margin-bottom: 20px;
  list-style: none;
}

footer .details_group ul li h3 {
  font: 700 24px/36px "Nunito Sans", sans-serif;
  color: #EEEEEE;
}

footer .details_group ul li a {
  text-decoration: none;
  color: #EEEEEE;
  transition: all 0.21s ease-in-out;
  border-bottom: 1px solid transparent;
  padding-bottom: 4px;
}

footer .details_group ul li a:hover {
  border-bottom: 1px solid #FF851B;
}

footer .details_group .contacts .info {
  margin-bottom: 2px;
}

footer .details_group .social_group h3 {
  font: 700 24px/36px "Nunito Sans", sans-serif;
  color: #EEEEEE;
  margin-bottom: 20px;
}

footer .details_group .social_group .social_list {
  display: flex;
  gap: 20px;
}

footer .details_group .social_group .social_list li a {
  border: none;
}

footer .details_group .social_group .social_list li img {
  width: 42px;
  border-radius: 50%;
  transition: all 0.21s ease-in-out;
}

footer .details_group .social_group .social_list li img:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 768px) {
  footer {
    padding: 48px 24px;
  }
  footer .hn_logo {
    width: 133px;
  }
  footer .details_group {
    gap: 40px;
    padding: 48px 0;
  }
  footer .details_group ul li {
    font: 16px/22px "Nunito Sans", sans-serif;
  }
  footer .details_group ul li h3 {
    font: 700 16px/22px "Nunito Sans", sans-serif;
  }
  footer .details_group .social_group h3 {
    font: 700 16px/22px "Nunito Sans", sans-serif;
  }
}

.copyright {
  background-color: #08090A;
  text-align: center;
  padding: 21px 0;
  color: #777777;
  font: 18px/36px "Nunito Sans", sans-serif;
}

.typing {
  border-right: 2px solid #EEEEEE;
  animation: typing 3s steps(12, end), cursor 0.5s steps(12, end) infinite;
}

@media only screen and (max-width: 768px) {
  .typing {
    width: 180px;
  }
}

.hu__hu__ {
  animation: hu__hu__ infinite 6s ease-in-out !important;
}

.section_title {
  text-align: center;
  margin: 0 auto;
  width: 152px;
  font: 32px/45px "Vollkorn", serif;
  color: #EEEEEE;
  border-bottom: 1px solid #FF851B;
}

.btn {
  padding: 16px 20px;
  color: #FF851B;
  text-decoration: none;
  font: 20px/27px "Nunito Sans", sans-serif;
  border: 1px solid #FF851B;
  border-radius: 10px;
  height: 60px;
  transition: all 0.21s ease-in-out;
}

.btn:hover {
  background-color: #FF851B;
  color: #191919;
}

section:nth-child(odd) {
  background-color: #191919;
}

section:nth-child(even) {
  background-color: #222222;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: #222222;
}

body::-webkit-scrollbar-thumb {
  background-color: #191919;
  border-radius: 8px;
  width: 16px;
}
